<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Lista de Eventos</h1>

<a href="/eventos/novo">Novo Evento</a>
<a href="/">Página inicial</a>

<ul>

<% eventos.forEach(function(evento){ %>

<li>
<%= evento.nome %> - <%= evento.data %>
</li>

<% }) %>

</ul>
</body>
</html>