<!DOCTYPE html>
<html>
<head>
    <title>Novo Evento</title>
</head>
<body>

<h1>Cadastrar Novo Evento</h1>

<form action="/eventos" method="POST">

<label>Nome do Evento</label><br>
<input type="text" name="nome"><br><br>

<label>Data</label><br>
<input type="date" name="data"><br><br>

<button type="submit">Salvar</button>

</form>

<a href="/">Voltar</a>

</body>
</html>